<nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div id="fh5co-logo">>TekPlanning.</div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li class="active"><a >Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li class="has-dropdown">
                        <a href="services.html">Services</a>
                        <ul class="dropdown">
                            <li><a >Web Design</a></li>
                            <li><a >eCommerce</a></li>
                            <li><a >Branding</a></li>
                            <li><a >API</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">Tools</a>
                        <ul class="dropdown">
                            <li><a >HTML5</a></li>
                            <li><a >CSS3</a></li>
                            <li><a >Sass</a></li>
                            <li><a >jQuery</a></li>
                        </ul>
                    </li>
                    <li><a href="work.html">Work</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</nav>