<div id="fh5co-testimonial">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Testimonial</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 animate-box">
                <div class="testimony">
                    <blockquote>
                        &ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius&rdquo;
                    </blockquote>
                    <p class="author"><cite>John Doe</cite></p>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="testimony">
                    <blockquote>
                        &ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius&rdquo;
                    </blockquote>
                    <p class="author"><cite>Rob Smith</cite></p>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="testimony">
                    <blockquote>
                        &ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius&rdquo;
                    </blockquote>
                    <p class="author"><cite>Jane Doe</cite></p>
                </div>
            </div>
        </div>
    </div>
</div>