
	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(assets/archii.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Welcome to TekPlanning</h1>
							<h2> “Plan your work and work your plan.”</h2>
                            <p><a [routerLink]="['/login']" class="btn btn-default">Login</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>